.controlSection{
  width:20%;
  position:fixed;
  height: 100%;

  .shareButton{
	padding: 10px;
	position: absolute;
	width: 80%;
	margin: 10px 10%;
	bottom:0;
	display: block;
	background: #222222;
	color: white;
	border: 1px solid #565656;
	font-weight: bold;
	font-size: 1rem;
  }
}
