.shareBox{
  border:1px solid silver;
  padding: 20px;
  .hide{
	display: none;
  }
}

.shareButton {
  padding: 7px;
  box-shadow: 0 0 7px 0 #383838;
  background: #2f2f2f;
  color: #c7c7c7;
  font-weight: bold;
  font-size: 11px;
  display: block;
  font-family: sans-serif;
  text-align: center;
  border: 1px solid #353535;
  border-radius: 3px;
  cursor: pointer;
}
